header {
  text-align: center;
  background-color: rgb(1, 1, 39);
  color: white;
  padding: 14px 0;
}

.year-container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h1,
h2 {
  margin-bottom: 0 !important;
}

@media (max-width: 1200px) {
  .year-container {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 600px) {
  .year-container {
    grid-template-columns: repeat(1, auto);
  }
}
